name: build

on:
  push:
    branches: [latest]
  pull_request:
    branches: [latest]
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - os: ubuntu-latest
            platform: "linux"
            experimental: true # we don't actually ship CSIDE on Linux
          - os: macos-latest
            platform: "mac"
          - os: windows-latest
            platform: "windows"
    steps:
      - name: Setup Node.js environment
        uses: actions/setup-node@v1.4.4
        with:
          # Version Spec of the version to use.  Examples: 10.x, 10.15.1, >=10.15.0
          node-version: 10.x
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Build
        run: |
          npm install grunt-cli -g
          npm install .
          grunt build-with-${{ matrix.platform }}